$bodyBackgroundColor:#fff;
$gameGridContainerBorderWidth:1px;
$gameGridContainerBorderColor:#d8d8d8;
$gameGridContainerWidth:500px + $gameGridContainerBorderWidth * 2;
$gameGridContainerPadding:15px;
$spaceBetweenTiles:15px;

$gameGridContainerBackgroundColor: #f5f5f5;
$gameColor: #777;
$tileWidth:106.25px;
$tileMargin:15px;

$emptyTileColor:#CDC1B4;

$fillTileColor:#fff;

$tileBorderRadius:50%;

$newGameButtonHeight:40px;