$roboto-font-path: '../com/roboto-fontface/fonts';
@import "../com/roboto-fontface/css/roboto-fontface.scss";
@import "bourbon/bourbon";
@import "variables";
@import "base";
@import "animations";
div.gameContainer{
  font-family: "roboto";
  //width:$gameWidth;
  display:inline-block;
  color:$gameColor;
  @include user-select(none);
}
.gameGridContainer{
  position: relative;
  width:$gameGridContainerWidth;
  padding:$spaceBetweenTiles;
  background-color:$gameGridContainerBackgroundColor;
  border-radius: 5px;
  .gameContainerInner{
    position: relative;
    .gameGrid{
      color: #ffffff;
      .row{
        //width: 200px;
        @extend .clear;
        margin-top: $tileMargin;
        &:first-child{
          margin-top: 0;
        }
        div{
          border-radius: 3px;
          margin-left: $tileMargin;
          float: left;
          display: inline-block;
          width: $tileWidth;
          height: $tileWidth;
          background-color: $emptyTileColor;
          &:first-child{
            margin-left: 0;
          }
        }
      }
    }
    .tileContainer{
      position: absolute;
      left: 0;
      top: 0;
      .tile{
        &.new{
          @include animation(addNewAnimation 400ms $ease-in-out-quart);
        }
        @include transition(all 400ms $ease-in-quad);
        position: absolute;
        width: $tileWidth;
        height: $tileWidth;
        line-height: $tileWidth;
        text-align: center;
        font-size: 30px;
        border-radius: 3px;
        font-weight: bold;
        background-color: $fillTileColor;
        @for $i from 0 through 4{
          @for $j from 0 through 4{
            &.tile-position-#{$i}-#{$j}{
              left: $i*$tileWidth + $i * 15px;
              top: $j*$tileWidth + $j * 15px;
            }
          }
        }
        .inner{
          position: absolute;
          width: inherit;
          height: inherit;
          left: 0;
          top: 0;
          z-index: 5;
        }
        .clicker{
          @extend .inner;
          z-index: 10;
        }
      }
    }
  }
}